body{
  background-image: url("https://media.istockphoto.com/id/1178841567/pt/vetorial/film-strip-on-grey-brick-wall-background-in-cinematic-style-on-brick-wall-old-cinema.jpg?s=1024x1024&w=is&k=20&c=EQ1i9IYVUipDzusV_rONowreqbBKCb3kBRhopUICATU=");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card {
  width: 30%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.movie-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.movie-card h4,
.movie-card h5,
.movie-card p {
  margin: 10px;
  text-align: center;
}

.movie-card-header{
  text-align: center;
  position: relative;
  top: 10px;
}
